<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Favorite Removed!</title>
</head>
<body>
    <h1 id="removeFavoriteTitle">Favorite Removed!</h1>
    <%- deletedResult %><br>
    <hr>
    <a href="/">Return Home</a><br>
    <a href="/dogDetails">Perfect Pet Search</a><br>
    <a href="/favorites">Favorites</a>
</body>
</html>