<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Search Results</title>
</head>
<body>
    <h1 id="searchResultsTitle">Search Results</h1>
    <br><%- breeds %><br><br>

    <hr>
    <a href="/">Return Home</a><br>
    <a href="/dogDetails">Perfect Pet Search</a>
</body>
</html>