@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: Nunito;
}

h1 {
    text-align: center;
    color: white;
    border: solid;
    border-color: black;
    border-width: 0.2rem;
    background-color: darkblue;
    border-radius: 0.5rem;
}

html {
    background-color: lightgray;
}

#search {
    background-color:slategray;
    border: solid;
    border-color: black;
    border-width: 0.2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

table {
    justify-self: center;
    border: black;
    border-style: solid;
    border-collapse: separate;
    border-width: .25rem;
}

th, td {
    border: darkblue;
    border-style: solid;
    padding: .2rem
}

td[type="button"] {
    text-align: center;
}


