h1 {
    text-align: center;
    color: white;
    border: solid;
    border-color: black;
    border-width: 0.2rem;
    background-color: darkblue;
    border-radius: 0.5rem;
}

#search {
    background-color: darkgrey;
    border: solid;
    border-color: black;
    border-width: 0.2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

table {
    justify-self: center;
    border: black;
    border-style: solid;
    border-collapse: separate;
    border-width: .25rem;
}

th, td {
    border: darkblue;
    border-style: solid;
    padding: .2rem
}

td[type="button"] {
    text-align: center;
}


